<div id="streetName-label-parent">
    Zaznaczona ulica to:
    <p id="streetName-label"></p>

    <button type="button" class="btn btn-light btn-s answer" id="1Answer-btn"></button>
    <button type="button" class="btn btn-light btn-s answer" id="2Answer-btn"></button>
    <button type="button" class="btn btn-light btn-s answer" id="3Answer-btn"></button>
    <button type="button" class="btn btn-primary btn-s" id="giveNameScore" disabled >Wynik: 0/0</button>
    <button type="button" class="btn btn-primary btn-s" id="giveNameTime" disabled >00:00</button>
    <button type="button" class="btn btn-primary btn-s" id="setNewStreetGiveName-btn" style="display: none">Losuj inną</button>
</div>

<div id="map-container">

</div>