<div id="streetName-label-parent">
    Zaznaczona ulica to:
    <p id="streetName-label"></p>

    <button type="button" class="btn btn-light btn-s answer" id="1Answer-btn"></button>
    <button type="button" class="btn btn-light btn-s answer" id="2Answer-btn"></button>
    <button type="button" class="btn btn-light btn-s answer" id="3Answer-btn"></button>

    <button type="button" class="btn btn-primary btn-s" id="setNewStreetGiveName-btn">Losuj inną</button>
</div>

<div id="map-container">

</div>