<div id="streetName-label-parent">
    Wskaż gdzie znajduje się ulica
    <p id="streetName-label"></p>

    <button type="button" class="btn btn-primary btn-s" id="showPlaceScore" disabled>Wynik: 0/0</button>
    <button type="button" class="btn btn-primary btn-s" id="showPlaceTime" disabled>00:00</button>
    <button type="button" class="btn btn-primary btn-s" id="setNewStreetShowPlace-btn">Losuj inną</button>
    <button type="button" class="btn btn-primary btn-s" id="getHint-btn" style="display: none">?</button>
</div>

<div id="map-container">

</div>